@import "tailwindcss";

:root{
    background: oklch(0 0 0);
}

@theme{
    --color-message-Box: oklch(27.4% 0.006 286.033);
    --msg-text-color: oklch(97% 0 0);
    --color-default: oklch(20.5% 0 0);












    
}